/* Bao toàn trang */
.login {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Cột trái */
.login_col1 {
  flex: 1.4;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Khung form */
.login_form {
  width: 80%;
  max-width: 380px;
  text-align: center;
}

/* Logo */
.login_imgLogo {
  width: 45%;
  object-fit: contain;
  margin-bottom: 100px;
}

/* Cột phải */
.login_col2 {
  flex: 2.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Khung chứa ảnh + chữ */
.login_hero {
  position: relative;
  width: 80%;
  max-width: 600px;
}

/* Ảnh minh hoạ */
.login_hero-img {
  width: 100%;
  display: block;
}

/* Chữ mặt phải */
.login_hero-text { 
  position: absolute;
  top: 50%;
  right:5%;
  line-height: 1.3;
}

/* "Hệ thống" */
.login_hero-sub {
  font-size: 28px;
  color: #ff8a00;
  margin: 0;
}

/* "QUẢN LÝ XẾP HÀNG" */
.login_hero-title {
  font-size: 32px;
  font-weight: 700;
  color: #ff8a00;
  margin: 0;
}


  /* Input style */
.login_custom-input {
  height: 42px;
  border-radius: 6px !important;
}

/* Label của AntD */
.ant-form-item-label > label {
  font-weight: 500;
  color: #444;
  font-size: 14px;
}

/* --- Quên mật khẩu --- */
.login_forgot {
  width: 100%;
  text-align: left;       
  margin-top: -5px;
  margin-bottom: 10px;    
}

.login_forgot a {
  color: #ff4d4f;
  font-size: 12px;       
}
/* Nút Đăng nhập */
.login_btn-login {
  height: 42px;
  background: #ff8a00;
  border-color: #ff8a00;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}

.login_btn-login:hover {
  background: #ff9f2a !important;
  border-color: #ff9f2a !important;
}
.ant-form-item-explain-error {
text-align: left;
}